@import "tailwindcss";
@import "./cards.css";
@import "./layout-utilities.css";
@import "./letters.css";

* {
  box-sizing: border-box;
}

:root {
  --background: #f8fafc;
  --foreground: #1e293b;
  --heading: #1e293b;
  --subtext: #64748b;
  --primary: #1d4ed8;
  --secondary: #93c5fd;
  --lighter: #cdddf0;
  --accent: #3b82f6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-heading: var(--heading);
  --color-subtext: var(--subtext);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-lighter: var(--lighter);
  --color-accent: var(--accent);
  --font-jakarta: var(--font-jakarta-sans);
  --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1e293b;
    --foreground: #f8fafc;
    --heading: #f8fafc;
    --subtext: #94a3b8;
    --primary: #3b82f6;
    --secondary: #1d4ed8;
    --lighter: #93c4fd8e;
    --accent: #93c5fd;
  }
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jakarta-sans), sans-serif;
}
