@utility sectionLayout {
  height: 100vh;
  width: 100%;
  padding-inline: 80px;
  padding-block: 4vh;
  display: flex;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

@utility mobileSectionLayout {
  height: 100vh;
  width: 100%;
  max-width: 100vw;
  max-height: 100vh;
  padding-inline: 14px;
  padding-block: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@utility flexibleSectionLayout {
  width: 100%;
  padding-inline: 80px;
  padding-block: 4vh;
  max-width: 100vw;
  max-height: 100vh;
}

@utility flexibleMobileSectionLayout {
  width: 100%;
  padding-inline: 14px;
  padding-block: 8px;
  max-width: 100vw;
  max-height: 100vh;
}
